<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679265559934-f15m0u1i91ft51pjmbv41fhf9d61ipgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679265559934-f15m0u1i91ft51pjmbv41fhf9d61ipgn</string>
	<key>API_KEY</key>
	<string>AIzaSyC3Gj_hAkzefjLTXv4EMNWnHyi_qENP5NU</string>
	<key>GCM_SENDER_ID</key>
	<string>679265559934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizzas-b4b50</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizzas-b4b50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679265559934:ios:30151377fdea174df3bf2f</string>
</dict>
</plist>